* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'fuenteTitulo';
    src: url(info/Queensha.ttf);
}

@font-face {
    font-family: 'fuenteContenido';
    src: url(info/MADEINFINITY-Regular.otf);
}

body {
    margin: auto;
    min-height: 100vh;
    background-color: rgb(10, 10, 10);
    color: aliceblue;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;

}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
}

.inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: auto;
}

h1 {
    font-family: 'Style Script', cursive;
    font-size: 3em;
}

.caja-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 300px;
    justify-content: center;
    margin-top: 10px;
}

.input {
    margin: 5px;
    border: none;
    border-radius: 10px;
    width: 130px;
    height: 46px;
    text-align: center;
    font-family: "fuenteContenido";
}

.boton {
    margin: 5px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: black;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #f09819;
    background-image: linear-gradient(45deg, #f6c203 0%, #eec58b 51%, #c18608 100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-family: "fuenteContenido";

}

.caja-input .boton {
    width: 130px;
}



.boton:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.boton:active {
    transform: scale(0.95);
}


.resultado,
.invalido {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    width: 80%;
    margin: auto;
}

.header {
    margin-top: 30px;
    margin-bottom: 35px;
}

.titulo-2{
    font-size: 2.5em;
}
.coleccion {
    width: 500px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
}

.tarjetas-grid {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 50px;
    justify-content: center;
}

.tarjeta {
    width: 200px;
    height: 200px;
    perspective: 1000px;
    justify-content: center;
}

.tarjeta-inner {
    position: relative;
    width: 200px;
    height: 200px;
    transition: all 550ms cubic-bezier(0.1, 0.22, 0.8, 1.13);
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.frente, .atras{
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: 'Style Script', cursive;
    border-radius: 40px;
    background-image: linear-gradient(45deg, #f6c203 0%, #eec58b 51%, #c18608 100%);
    box-shadow: 1px 1px 3px rgb(0, 0, 0), 4px 4px 10px rgb(0, 0, 0);
    color: black;
    font-size: 1.25rem;
    text-align: center;
    display: grid;
    place-items: center;
    backface-visibility: hidden;
    cursor: default;
}

.icono{
    width: 50%;
    height: 50%;
}

.sobre{
    cursor: pointer;
}

#tarjeta4back{
    font-size: 2em;
}
.atras {
    transform: rotateY(180deg);
    font-size: 1em;
}

.tarjeta:hover .tarjeta-inner {
    transform: rotateY(-180deg);
}

.cajaBoton {
    justify-content: center;
    margin-top: 50px;
}

.coleccion .boton {
    padding: 15px;
    width: 160px;
    margin: auto;
}

.hidden {
    display: none;
}